body{
    background-image: url("../img/wallpaper/white-gray.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Work Sans', sans-serif;
    
}

.menu{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;

}

header{
    background-color: #1a1a1a;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.logo{
    float: left;
    width: 250px;
}

nav {
    float: right;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li{
    display: inline-block;
    margin-left: 70px;
    padding-top: 27px;
    padding-bottom: 27px;
    position: relative;
}

nav a {
    color: #e3d6b4;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

nav a:hover {
    color: #b99a45;
}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    background-color: #b99a45;
    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%;
}

.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0,0,0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li {
    width: 100%;
}

.sidebar a {
    width: 100%;
}

.menu-button{
    display: none;
}

.name{
    font-weight: bold;
    font-size: 80px;
    font-family: Arial;
    font-variant: small-caps;
    text-align: center;
    padding-left: 10px;
    white-space: nowrap;
}


.image-container {
    position: relative;
    display: inline-block;
}

.dots-table-bottom {
    position: absolute;
    bottom: -70px; 
    right: -70px;
    border-collapse: collapse;
}

.dots-table-bottom td {
    padding-left: 20px;
    font-size: 20px;
    color: #b99a45; 
}

.dots-table-top {
    position: absolute;
    top: -70px; 
    left: -70px;
    border-collapse: collapse;
}

.dots-table-top td {
    padding-left: 20px;
    font-size: 20px;
    color: #e3d6b4; 
}

@media(max-width: 992px){
    .hideOnMobile{
        display: none;
    } 

    .menu-button{
        display: block;
    }
    .name {
        font-size: 50px;
        white-space: nowrap;
        
    }
    .profile-img {
        width: 80%;
        height: auto;
    }
    #text1, #text2, #text3, #text4{
        font-size: 40px;
        padding-top: 2%;
    }

    .dots-table-bottom {
        bottom: -40px; 
        right: -20px;
    }

    .dots-table-top {
        top: -15px; 
        left: -20px;
    }

    .dots-table-bottom td,
    .dots-table-top td {
        font-size: 15px; /* Még kisebb méret 400px alatt */
    }
}

@media (max-width: 400px) {
    .sidebar{
        width: 100%;
    }
    .name {
        font-size: 50px;
    }

    .profile-img {
        width: 80%;
        height: auto;
    }
    #text1, #text2, #text3, #text4{
        font-size: 40px;
    }
    .dots-table-bottom td,
    .dots-table-top td {
        font-size: 15px; /* Még kisebb méret 400px alatt */
    }
    
}

.left-part{
    padding-top: 9%;
    padding-left: 8%;
}

.right-part{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    padding-top: 15%;
}

.letter-color1{
    color: #343a40;
}

.profile-img{
    border-radius: 15px; 
    height: 95%;
    max-width: 100%;
    display: block;
    margin: 0 auto;
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.profile-img:hover {
    transform: scale(1.02);
    box-shadow: 0 12px 24px rgba(0,0,0,0.2);
}

/* Explanation in JS tab */

/* Cool font from Google Fonts! */
@import url('https://fonts.googleapis.com/css?family=Raleway:900&display=swap');

#container {
	/* Center the text in the viewport. */
	position: absolute;
	margin: auto;
	width: 100vw;
	height: 80pt;
	
	/* This filter is a lot of the magic, try commenting it out to see how the morphing works! */
	filter: url(#threshold) blur(0.6px);
}

/* Your average text styling */
#text1, #text2, #text3, #text4 {
	position: absolute;
	width: 100%;
	display: block;
	font-family: 'Raleway', sans-serif;
	font-size: 30pt;
	color: #b99a45;
	text-align: center;
	user-select: none;
    top: 10%;
}
